@model ProjetRFID.Models.Random_Forest

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Random_Forest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.criterion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.criterion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.min_samples_split)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.min_samples_split)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.min_samples_leaf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.min_samples_leaf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.min_weight_fraction_leaf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.min_weight_fraction_leaf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.max_leaf_nodes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.max_leaf_nodes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.min_impurity_decrease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.min_impurity_decrease)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.n_jobs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.n_jobs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.entier_detail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.entier_detail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.max_depth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.max_depth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precision)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
