@model IEnumerable<ProjetRFID.Models.KNN>

@{
    ViewData["Title"] = "Méthode KNN";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #28324E; /* Fond bleu sombre */
        color: #FFFFFF; /* Couleur du texte blanc */
        padding: 20px; /* Espacement autour du contenu */
    }

    .welcome-title {
        font-size: 2.5em; /* Taille du titre */
        text-align: center; /* Centrage horizontal */
        margin-bottom: 30px; /* Espacement en dessous */
        text-transform: uppercase; /* Conversion en majuscules */
        letter-spacing: 2px; /* Espacement entre les lettres */
    }

    .Menu {
        list-style-type: none; /* Supprime les puces de la liste */
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around; /* Centrage horizontal des éléments */
    }

        .Menu li {
            position: relative; /* Position relative pour positionner le sous-menu */
            width: calc(25% - 20px); /* Largeur des cartes */
            background-color: #FFFFFF; /* Fond transparent */
            border-radius: 20px; /* Coins arrondis */
            padding: 20px; /* Espacement à l'intérieur des cartes */
            margin: 0 10px; /* Espacement entre les cartes */
            text-align: center;
            transition: background-color 0.3s ease; /* Transition fluide */
        }

            .Menu li:hover {
                background-color: #FFFFFF; /* Fond transparent légèrement plus clair au survol */
            }

            .Menu li label {
                cursor: pointer; /* Curseur pointer */
            }

    /* Styles pour le formulaire */
    .form-container {
        display: none; /* Par défaut, le formulaire est caché */
        background-color: #FFFFFF;
        padding: 20px;
        border-radius: 5px;
        margin-top: 10px;
    }

    tr {
        color: white; /* Couleur du texte blanc */
    }
</style>
<h1>Méthode KNN</h1>


<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.n_neighbors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.p)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.metric_params)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.algorithm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leaf_size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precision)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                @Html.DisplayNameFor(model => model.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.n_neighbors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.metric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.p)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.metric_params)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.algorithm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leaf_size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precision)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
